<h1>Hi <%= name %>,</h1>

<p>You have been invited to <%= organiser.name %>'s event <strong><%= event.name %></strong> on <%= event.startDate %>.</p>

<p>In order to confirm or sign up to the events app please visit this <a href="#">link</a> </p>

<p>Have fun!</p>

<p>Your Event-App Team</p>