extends layout

block content
    h1= title
    form#formAddUser(name="loginuser",method="post",action="/loginuser",data-ajax="false")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserPassword(type="password", placeholder="password", name="password")
        button#btnSubmit(type="submit") submit