mixin header
    div(data-role='header', data-theme='b')
        div(style='float: left; position: relative; top: 5px; left: 10px;')
            a(href='/')
                img(alt='Logo Image', src='/images/logo.png')
        h1 Event App

mixin footer
    div(data-role='footer', data-theme='b')
        h1 LN Cret Dev
